.App {
  text-align: center;
}

.outer-Timer {
  background-color: aliceblue;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-circul {
  background-color: aqua;
  width: 85%;
  height: 85%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-content {
  text-align: center;
}